cloudpickle==3.0.0
cycler==0.12.1
fonttools==4.53.0
imbalanced-learn==0.9.0
imblearn==0.0
joblib==1.4.2
kiwisolver==1.4.5
llvmlite==0.43.0
matplotlib==3.5.1
numba==0.60.0
numpy==1.22.3
packaging==24.1
pandas==1.4.2
patsy==0.5.2
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.0.2
scipy==1.11.4
seaborn==0.11.2
shap==0.40.0
six==1.16.0
slicer==0.0.7
statsmodels==0.13.2
threadpoolctl==3.5.0
tqdm==4.66.4
